version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: Reach
      POSTGRES_USER: reach@postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    container_name: minio
    restart: always
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports:
      - "9000:9000" # S3 API
      - "9001:9001" # Web console
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

  springboot:
    build:
      context: ./springboot
    container_name: springboot
    restart: always
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      SPRING_MINIO_URL: ${SPRING_MINIO_URL}
      SPRING_MINIO_ACCESS_KEY: ${SPRING_MINIO_ACCESS_KEY}
      SPRING_MINIO_SECRET_KEY: ${SPRING_MINIO_SECRET_KEY}
    depends_on:
      - postgres
      - minio

volumes:
  postgres_data:
  minio_data:
